/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

body, ul, ol{
    margin: 0;
    padding: 0;
}

body{
    font: 16px/1.8 Georgia, serif;
    border-top: .1875em solid #000;
}

a:hover{
    color: #890604;
}

header{
    text-align: center;
    margin: 1.5em 0 1em;
}

#logo{
    font-size: 2em;
    text-decoration: none;
    color: #000;
}

section{
    max-width: 33em;
    margin: 0 auto;
}

/* Page */
#page-info{
    border-top: 2px dotted #999;
    margin: 2.5em 0 1.5em;
}

#page-info span{
    display: block;
    max-width: 5em;
    text-align: center;
    background: #fff;
    margin: -10px auto 0;
}

#pagination{
    padding: 0 .625em;
}

#pagination a{
    color: #fff;
    float: right;
    text-decoration: none;
    padding: .5em 1em;
    background: #000;
    margin-top: 2em;
    font-size: .75em;
    transition: all .2s ease-in-out;
    border-radius: .2143em;
    margin-left: 1px;
}

#pagination a:hover{
    color: #c00;
}

ul#list{
    list-style: none;
    padding: 0 .625em;
}

ul#list li{
    margin-bottom: 1em;
}

ul#list li em{
    display: block;
    float: left;
    line-height: 1;
    text-align: right;
    color: #999;
    font-size: .875em;
    font-style: normal;
    padding-top: .286em;
}

ul#list li a{
    display: block;
    text-decoration: none;
    color: #222;
    margin-left: 3em;
}

ul#list li a h2{
    font-size: 1.125em;
    font-family: Microsoft YaHei, Helvetica, sans-serif;
    font-weight: bold;
    transition: all .2s ease-in-out;
    margin: 0;
}

ul#list li a p{
    line-height: 1.5;
    margin: 0;
}

ul#list li a:hover h2{
    text-decoration: underline;
    color: #c00;
}

/* Article */

section#article{
    padding: 0 .625em;
}

section#article hgroup{
    margin: 2.25em 0 1.5em;
}

section#article h1.title{
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2;
    margin: 0;
}

section#article h2.date{
    font-weight: normal;
    font-size: .875em;
    margin: 0;
    color: #999
}

section#article p{
    margin: .5em 0 1.5em;
}

footer{
    background: #000;
    line-height: 2em;
    margin-top: 3em;
    padding: 0 .625em;
}

footer .inner{
    max-width: 33em;
    margin: 0 auto;
}

footer .inner a{
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 321px) {

section#article, ul#list, footer{
    padding: 0;
}

}

